/* This stylesheet targets iPhone at landscape and similarly sized devices. */
@import url('dc-responsive-maxw-520px.css');

#logoLibraryMobile { display: block; background-image: url(../images/banners/dukelib-logo-72.png); height: 72px; width: 177px; float: left; }
	#logoLibraryMobile a { display: block;}
	#logoLibraryMobile a span { visibility: hidden; }
	
#dividerMobile { display: block;  background-image: url(../images/banners/divider-arrow.png); height: 72px; width: 26px; float: left; margin-left: 1%;}
	
#logoDCMobile { display: block !important;  background-image: url(../images/banners/dclogo-trans.png); height: 72px; width: 244px; float: left; margin-left: 1%;}
	#logoDCMobile a { width: 100%; height: 100%; display: block; }
	#logoDCMobile a span { visibility: hidden; }
	div.mobileSubBanner { display: none !important;}


/* Portals */

div.collectionLogo { display: block;}
div.collectionTitle { display: none ;}


/* Galleria */
div.galleria-image img {  top: auto !important; max-height: none !important; width:auto !important;}