/* =========================================== */
/*               Print Styles                  */
/* =========================================== */


.dontPrint { display: none !important;}
.printOnly { display: block !important; }

#highlightBox img  { max-width: 6.5in; max-height: 4.1in; border: none; margin: 0 auto; } /* make it so the image can't be bigger than the paper in any dimension whether portrait or landscape */


/* ------------------------------------------- */
/*       Dynamic elements not to print         */
/*       (can't use .dontPrint class)          */
/* ------------------------------------------- */

div.galleria-thumbnails-container, .dsq-brlink { display: none !important;}