/* ------------------------------------------- */
/*      Main Search Box                        */
/* ------------------------------------------- */

div#searchBox { width: 100%; border: 1px solid #bbb; background: url("../images/tan-gradient.jpg") repeat-x scroll left top #D8D8CF; 
margin: 0 0 0 0; float: left;
-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
}
/*
div#searchRibbon { background: url("../images/misc/search-new-ribbon.png") no-repeat; height: 36px; width: 31px; position: absolute; right: -3px; top: -3px;}
*/

div#collectionSearchBox { width: 100%; border: 1px solid #bbb; background: url("../images/tan-gradient.jpg") repeat-x scroll left top #D8D8CF; 
margin: 0 0 0 0; float: left;
-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; 
}

#___gcse_0 { margin: 0px 10px 10px 10px; }


input.keywordSearchBox, select.scopeMe, button.mainSearchButton  { margin: 5px 1px 5px 8px; display: block; float: left; vertical-align: baseline; border: 1px solid #ccc; font-size: 15px; }


select.endecaScope { margin: 0px 1px 5px 0; vertical-align: baseline; float: left;  padding: 3px 5px; }

input.keywordSearchBox { width: 250px; padding: 3px 3px 3px 25px;
background: url("../images/icons/search.png") no-repeat white 0.1em center;
}

img.scopeIcon { float: left; margin: 5px 0 0 0; border: 1px solid #ccc; height: 25px; width: 25px; }

select.scopeMe { width: 200px; padding: 1px; height: 27px;}
	select.scopeMe option { font-size: 15px; padding-left: 5px; }

div#searchBox label { display: block; float: left; padding: 8px 8px 0 12px; text-align: center;  color: #aaa; font-size: 15px; vertical-align: baseline; }

/*
button.mainSearchButton { color: white; outline: none; background: url("../images/footer-blue-gradient.jpg") repeat-x scroll 0 0 #324299; font-size: 15px; padding: 3px 8px; border: 1px solid #2a3881; cursor: pointer;
-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
-moz-box-shadow: -2px 2px 7px #AAAAAA; -webkit-box-shadow: -2px 2px 7px #AAAAAA; box-shadow: -2px 2px 7px #AAAAAA;
}
	button.mainSearchButton:hover { background: url("../images/footer-blue-gradient.jpg") repeat-x scroll 50% 50% #324299;}
	*/
	
button.mainSearchButton {
  width: 40px;
  height: 26px;
  border: 0;
  cursor: pointer;
  background: #a1b70d url("//library.duke.edu/masthead/img/search.png") center no-repeat;
  background-size: 45%;
  position: relative;
  right: 5px;
  bottom: 0;
  vertical-align: bottom;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}


div.advancedLink { margin: 5px 1px 5px 8px; display: block; float: left; vertical-align: baseline; padding: 5px 8px 5px 8px; }
	a#advancedSearchLink { color: #5e5e5e; display: block; padding: 5px 14px 3px 5px ; font-size: 11px; background: url("../images/icons/arrow_up_gray.png") no-repeat right 50%; }
		a#advancedSearchLink.collapsed {	background: url("../images/icons/arrow_down_gray.png") no-repeat right 50%;	}
		a#advancedSearchLink.newOption { }
	a#cdmAdvancedSearchLink { color: #5e5e5e; display: block; padding: 5px 14px 3px 5px ; font-size: 11px; }

div.endecaSearch { border: 1px solid white;}

input.hinted { color: #bbb;}


div#advancedSearchOptions {
display: none; 
padding: 10px;
}


form#endecaSearch {
	display: none;
	padding: 10px; border-top: 1px dashed #bbb;
}

#endecaSearch h2, h2.advancedSearchHeader {
	
	   background: none repeat scroll 0 0 #666666;
	    border-bottom: 1px dotted #BBBBBB;
	    border-top: 1px dotted #BBBBBB;
	    color: white;
	    font-size: 16px;
	    margin-bottom: 10px;
	    padding: 3px 5px;

}

#keywordAnywhere { margin-left: 0; }

.advancedSearchLabel { font-size: 11px; color: #666; }