body, select, option, .ui-widget { font: 13px 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif; color: #2f2f2f;}


/* ------------------------------------------- */
/*            General Layout & Styles          */
/* ------------------------------------------- */
#page {background: url('../images/headerback80shadow.jpg') repeat-x;}


#pageContentWrap { min-width: 1000px; background: url('../images/page-background_16.jpg') repeat-y top center #dad6d3; padding-bottom: 10px;}

	#pageContentWrap.layout_16 { background-image: url('../images/page-background_16_light.jpg'); }
	#pageContentWrap.layout_4_12 { background-image: url('../images/page-background_4_12_light.jpg'); }
	#pageContentWrap.layout_12_4 { background-image: url('../images/page-background_12_4_light.jpg'); }



#pageContent { padding-top: 10px;}

p { line-height: 1.4em; }

a:link, a:visited  { color: #0062A0;}
a:hover, a:active { color: #728302;}
a {text-decoration: none;}
a:hover {text-decoration: underline;}
a.button { outline: none; }

h1,h2,h3, .h2label, h3 a:link, h3 a:visited { font-family: "Roboto Condensed", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif; color: #666; font-weight: normal;}

h1 { font-size: 27px; }
h2 { margin: 0.8em 0 0.4em 0}
h3 { margin: 0.5em 0 0.3em 0}
h4 { font: 14px 'Helvetica Neue',Helvetica,Arial,Verdana,sans-serif; color: #988675; font-weight: bold;}

sub, sup { vertical-align: baseline; position: relative; font-size: 80%;} 
sub  {bottom: -0.6em; } 
sup { top: -0.6em; }



div#accordion  h3 { font-size: 18px;} /* overrides jquery ui size on headers */
div#accordion .viewAll { font-weight: bold; margin-left: 10px;}



.block { display: block !important;}
.hidden { display: none;}
a.muted, span.muted { color: #999; }
.invisible { visibility: hidden !important;}
.clearBoth { clear: both;}


/* unordered list without dots */
ul.listNoDots { 
	list-style-type: none;
	list-style-image: none;
	list-style-position: outside;
	padding: 0;
	margin: 0;
}

ul.listNoDots li {
	text-indent: -1em;
	padding-left: 1em;
}

/* left-justified list */
.listLeftJustified {
	list-style-position: inside;
	list-style-image: none;
	margin: 1em 0;
	padding: 0;	
}

.listLeftJustified li {
	margin-left: 0;
	text-indent: -1em;
	padding-left: 1em;
}


ol.listLeftJustified { list-style-type: decimal; }
ul.tinySpacedItems li, ol.tinySpacedItems li { margin-bottom: .25em; }
ul.smallSpacedItems li, ol.smallSpacedItems li { margin-bottom: .5em; }
ul.mediumSpacedItems li, ol.mediumSpacedItems li { margin-bottom: 1em; }
ul.bigSpacedItems li, ol.bigSpacedItems li { margin-bottom: 1.5em;}
.indented { margin-left: 1.5em; }

.smaller { font-size: 90%;}
.photoCaption { font-size: 90%; font-weight: bold; margin-top: 2px; text-align: center; }
blockquote { margin-left: 2em; margin-bottom: 20px;}

.auto-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

table.dataTable { border-collapse: collapse; border: 1px solid #aaa;}
table.dataTable td { padding: 5px; border-collapse: collapse; border: 1px solid #bbb;}
table.dataTable th { padding: 5px; border-collapse: collapse; border: 1px solid #bbb; background: #F2F1EC; color: #777; font-weight: bold;}


ul.buttonSet { float: left;}
ul.buttonSet li { float: left; display: inline; list-style: none; margin: 0; }

ul.bookIndex { }
	ul.bookIndex li a { margin-left: 0.3em; }
	ul.bookIndex li a.index-title { margin-left: 0; font-weight: bold; }

.subtleBorder { border: 1px solid #ccc; padding: 3px; }
.smallShadow { 
-moz-box-shadow: 2px 2px 2px 0px #ccc; -webkit-box-shadow: 2px 2px 2px 0px #ccc;
box-shadow: 2px 2px 2px 0px #ccc; }

.smallShadowBlack { 
-moz-box-shadow: 2px 2px 2px 0px #000; -webkit-box-shadow: 2px 2px 2px 0px #000;
box-shadow: 2px 2px 2px 0px #000; }

.ui-dialog { z-index: 9999 !important ;}


/* ------------------------------------------- */
/*     Hide Mobile-Only Stuff by Default       */
/* ------------------------------------------- */

#logoLibraryMobile { display: none;}
#dividerMobile { display: none;}
#logoDCMobile { display: none;}
#menuDCMobile { display: none;}
a#narrowLink { display: none;}
div.mobileSubBanner { display: none;}
div.mobileMenu { display: none; }
.mobileCollectionContext { display: none;}

div.mobileMenu { display: none; margin:0; padding: 0; }
ul.mobileMenuList { font-size: 17px; padding:0; margin: 0;  }
	ul.mobileMenuList li { list-style: none; margin: 0; }
		ul.mobileMenuList li a { width: 100%; font-weight: bold;}

/* ------------------------------------------- */
/*              Masthead & Banners             */
/* ------------------------------------------- */

#masthead {}
#mastSuperWrap { width: 100%; background: #053482;}

#dlLogo {background: url('../images/digcoll-logo6.png') no-repeat top left; padding: 0; margin: 0; height: 72px; }
	#dlLogo a { border: none; position: absolute; text-decoration: none;}
	#dlLogo a span { visibility: hidden;}
  	#logoLibrary a { height: 70px; left: 5px; top: 1px; width: 170px; }
	#logoDC a { height: 70px; left: 228px; top: 1px; width: 250px; }



#bannerRight { float: right; width: 443px; margin: 0; padding: 0; padding-top: 29px;}
ul.headerMenu { text-align: right; float: right;}
ul.headerMenu li { text-align: right; float: left; display: inline; margin: 0 15px 0 0; padding: 0; font-size: 16px; font-family: "Adobe Garamond Pro", "Garamond", "times new roman", serif;}
ul.headerMenu li a { color: white; font-family: "Adobe Garamond Pro", "Garamond", "times new roman", serif; font-weight: normal; text-transform: uppercase; }
ul.headerMenu li a:hover, ul.headerMenu li a:visited { color: white;}
ul.headerMenu li.lastOne {margin-right: 1px;}



ul.collectionLinks { background-color: #053482; list-style: none; padding: 15px; -moz-box-shadow: -2px  2px 7px #ccc; -webkit-box-shadow: -2px 2px 7px #ccc; box-shadow: -2px 2px 7px #ccc;
margin: -15px -25px 0px -14px; width: 230px; }
ul.collectionLinks li { font-size: 14px;  margin: 0; padding: 4px 0;  }
ul.collectionLinks li a { color: white;}
ul.collectionLinks li.subPage { margin-left: 15px; font-size: 12px; }
ul.collectionLinks li a:hover { text-decoration: underline; }

ul.collectionLinks li.browseLink { font-weight: bold; font-size: 15px; }
ul.collectionLinks li.browseLink span.allItemCount { margin-left: 8px; font-size: 13px; font-weight: normal; color: #ccc; }


#migration-alert {
  background-image:url('../images/icons/warning-64px-white.png');
  background-repeat: no-repeat;
  padding: 20px 20px 20px 95px;
  background-color: #a1b70d;
  border:1px solid #aaa; 
  margin: -10px -20px 20px -20px;
  background-position: 10px 20px;
}

#migration-alert h1 { color: white; text-transform: uppercase; }
#migration-alert a { color: #eee; font-weight: bold; }
#migration-alert a.button { color: black; font-weight: bold; text-transform: capitalize;}

/* ------------------------------------------- */
/*      Sidebar                                */
/* ------------------------------------------- */

#sidebar { padding: 5px 4px 10px 14px; overflow: visible; }
#sidebar h1, #sidebar h2, #sidebar h3 { text-shadow: 0 1px 0 #fff;}
#sidebar h1 {}
#sidebar h2 { font-size: 20px;}
#sidebar h3 { margin-top: 20px; font-size: 17px;}

/*  Social Impact & Share Section  */

div.shareLinks {}
div.shareLinksLeft { }

div.pinit { display:inline-block; margin-left: 5px;}
div.pinit a { margin-bottom: -3px !important; }
iframe.twitter-share-button { float: left; margin-right: 8px;}



a.browseAll { font-weight: bold; }
/* Collection Lists */

ul.relatedCollections, .collectionList {
  padding: 0;
  list-style: none;
}

ol.collectionList {
  list-style-type: none; list-style-position: inside; 
}

ol.collectionList li { padding-left: 0; margin-left: 0;}

ul.relatedCollections li, .collectionList li {
  clear: both; margin: 0 0 10px 0;
}

ul.relatedCollections li img, .collectionList li img {
float: left;
margin: 0 10px 5px 0;
padding: 0;
-moz-box-shadow: -2px  2px 7px #aaa; -webkit-box-shadow: -2px 2px 7px #aaa; box-shadow: -2px 2px 7px #aaa;

}

ul.collectionList { margin-bottom: 40px;}






/* Temp Style */

ul.facetListCollection { list-style: none; padding: 0;}
ul.facetListCollection li { margin: 0 0 8px 0;}
ul.facetListCollection li img { float: left; margin: 0 10px 5px 0; padding: 0;
-moz-box-shadow: -2px  2px 7px #aaa; -webkit-box-shadow: -2px 2px 7px #aaa; box-shadow: -2px 2px 7px #aaa; }

/* ------------------------------------------- */
/*           Blog Posts Embedded               */
/* ------------------------------------------- */

div.blogpost-section { background: #333; padding: 10px; margin: 20px 0 0 0; border-top: 8px solid #324299; }
div.blogpost-section .blog-header { color:white; font-size: 16px; font-weight: bold; }

span.blog-pager { margin-left: 20px; }
span.blog-pager button:not([disabled="disabled"]) { cursor: pointer;}

ul.blogposts { margin-top: 10px; }
ul.blogposts li { color: #aaa; width:160px; margin: 5px 5px 0 0; padding: 0; list-style:none; display: inline-block; vertical-align: top;}
ul.blogposts li a { color: white; }
ul.blogposts li img { position: relative; top: 50%; transform:translateY(-50%); max-width: 150px; max-height: 150px; }
ul.blogposts div.image-wrapper { background: #000; height: 150px; width:150px; text-align: center; vertical-align: middle; }
ul.blogposts span.post-author { font-size: 11px; }



/* =========================================== */
/*              Portal Page                    */
/* =========================================== */


/* ------------------------------------------- */
/*           Collection Banner                 */
/* ------------------------------------------- */


#subMastWrap { background: url('../images/gradient-black-to-darkgray-75.jpg') repeat-x top left #333; padding: 0; border-top: 1px solid white; min-height: 60px; 
}

  div#collectionBannerOuter { width: 1000px; margin: 0 auto; }

  div#collectionBanner {  padding: 15px 0 15px 0;}
  .collectionIcon60 { display: block; height: 60px; width: 60px; float: left; -moz-box-shadow: 3px 3px 3px #666666; border: 1px solid #cccccc; margin: 0 18px 0 0; padding: 1px;}
  div.collectionLogo { float: left;}
  	div.collectionLogo a { display: block; width: 100%; height: 100%; }
  div.collectionTitle { float: left; margin: 10px 10px 0 0; width: 520px;}
	  div.collectionTitle h1, div.collectionTitle h2  { color: white; margin: 10px 0 0 0; }
	  div.collectionTitle h1 { font-size: 32px; margin: 0; line-height: 1.1em; }
	  div.collectionTitle h2 {  text-transform: none; margin: 0; }
	  div.collectionTitle a { color: white;}
	  	div.collectionTitle a:hover { text-decoration: none;}
  div.collectionDescription { float: right;  width: 330px; margin: 10px 0 0 0; color: #fafafa; line-height: 1.4em;}
    div.collectionDescription a.readMore { color: white; font-weight: bold; margin-left: 10px; white-space: nowrap;}

div.mastShadow { background: url('//library.duke.edu/imgs/blue-note/homepage/banner-shadow.jpg') repeat-x top left; height: 8px;}



#tabs ul{ list-style-type:none;}


.adopted-collection {
  border-bottom: 1px dotted #988675;
  border-top: 1px dotted #988675;
  padding: 10px;
  background: #f8f8f8;
  margin: 15px 0 10px 0;
  line-height: 1.5em;
}

/* ------------------------------------------- */
/*   Portal Content Block                      */
/* ------------------------------------------- */

a#expandableHighlight { padding-right: 15px; background: url("../images/icons/arrow_up_gray.png") no-repeat 95% 50%; }
	a#expandableHighlight.collapsed {	background: url("../images/icons/arrow_down_gray.png") no-repeat 95% 50%;	}

#highlightBox div.highlightBoxItem { float: left; margin-right: 20px; margin-bottom: 10px; width: 150px; }
#highlightBox a.iTunesLink { color: #aaa; font-size: 90%; }

/* ------------------------------------------- */
/*   Portal Context (Appears in Many Places)   */
/* ------------------------------------------- */

div.collectionInfo { font-size: 11px; }
div.collectionInfo div.collectionIcon60 { width: 60px; margin: 0 14px 8px 0;}
div.collectionInfo div.collectionSummary { display: block; width: 140px; float: right;}


div.ownerInfo {}
	div.ownerName { font-size: 12px; font-weight: bold;}
	.contactCombined { color: #ccc; margin-top: 15px; }
	.ownerPhone { color: #555; font-size: 11px; margin-top: 10px;}
	.ownerAsk { font-size: 12px; background: url('../images/icons/ask_18x15.png') no-repeat top left; padding-left: 24px; }

	/* ------------------------------------------- */
	/*             Galleria Carousel 1.2.8         */
	/* ------------------------------------------- */

	div.galleria-container { height: 361px;}
	div.galleria-stage { border: 1px solid gray; height: 329px; }
	div.galleria-layer { width: 300px; max-height: 100px;} /* change this if any cross-browser link or display problems */
	div.overlay { background: url(../images/misc/transparent-black-67pct.png) repeat top left; width: 270px; margin: 10px; padding: 10px; color: #bbb;}
	div.overlayRight { float: right;}
	div.overlay img.icon { float: right; margin-left: 15px; margin-bottom: 15px;}
	div.overlay h2 { color: white; clear: none; font-size: 20px !important; line-height: 1.1em; margin-top: 0;}
	div.overlay a { color: white;}

	div.overlayNew, div.overlayPopular {color: white; border-top: 1px dotted #bbb; border-bottom: 1px dotted #bbb; padding: 3px 0 3px 0; margin-bottom: 10px; text-transform: uppercase; font-size: 10px; text-align: center;}
	 div.overlayNew { background: #a1b70d;}
	 div.overlayPopular { background: #324299;}


	.galleria-image-nav-right, .galleria-image-nav-left { top: 70px }

div.galleria-fullscreen { display: none;}

.galleria-errors { display: none !important; }

/* ------------------------------------------- */
/*     Galleria Classic Slideshow Style Overrides      */
/* ------------------------------------------- */
img.slideshowImage {  max-width: 100px; vertical-align: top; } /* only applies when js is turned off, to make portals usable */

div.galleriaclassic div.galleria-container { background: white; }
div.galleriaclassic div.galleria-stage { left: 0; right: 0; top: 0; border: 1px solid #aaa; height: auto;}

div.galleriaclassic div.galleria-info { display: block; position: absolute; top: auto; bottom: 0px; left: 0;  width: 700px;}
div.galleriaclassic div.galleria-info-link { display: none; bottom: 40px; right: 0px;}
div.galleriaclassic div.galleria-info-text {display: block; min-height: 37px; background: #333; opacity: 1;}
div.galleriaclassic div.galleria-info-close { display: block;}
div.galleriaclassic div.galleria-info-author { display: none !important;} /* we're using author as temp holding for file id */

div.galleriaclassic div.galleria-image-nav { opacity: 1;}


div.galleriaclassic div.galleria-thumbnails div.galleria-image img { border: none; opacity: 1;}
div.galleriaclassic div.galleria-thumbnails div.galleria-image { background: white; border: none; opacity: 1;}
div.galleriaclassic div.galleria-image-nav-left, div.galleriaclassic div.galleria-image-nav-right, div.galleriaclassic div.galleria-counter { background-color: black; padding: 8px; -moz-border-radius: 3px 3px 3px 3px; -webkit-border-radius: 3px 3px 3px 3px; border-radius: 3px 3px 3px 3px; opacity: 1; }
div.galleriaclassic div.galleria-thumb-nav-right, div.galleria-thumb-nav-left { background-color: #324299; opacity: 1; }


	/* Get the bigger nav arrows from the lightbox theme */

div.galleriaclassic .galleria-image-nav-left {
	height: 44px;
	width: 24px;
	cursor: pointer;
	background: url('../images/icons/p.png') no-repeat 50% 50%;
	left:10px;
	opacity:0.8;
	position:absolute;
	z-index:2;

	}
div.galleriaclassic .galleria-image-nav-right {
	height: 44px;
	width: 24px;
	cursor: pointer;
	background: url('../images/icons/n.png') no-repeat 50% 50%;
	right:10px;
	opacity:0.8;
	position:absolute;
	z-index:2;

	}



	/* Square-cropped (Most Popular) Images */

	.clipwrapper {
	height:67px;
	float: left;
	position: relative;
	width:67px;
	overflow: hidden;
	margin: 1px;
	}

	.clip {
	clip:rect(auto);
	position:absolute;
	left: -30%;
	top: -30%;

	}


	img.squareThumb {
	min-width: 90px;
	min-height: 90px;
	margin: 0 auto;

	}


/* ------------------------------------------- */
/*         Facet Browse Box Styles             */
/* ------------------------------------------- */


#page.page-portal #facetTabs h4 { display: none; }
#page.page-results #facetTabs div.toggleAZ { display: none; }
#page.page-results #facetTabs hr { display: none; }

div.mainTabs ul.facetBrowse li {  margin-left: 0; margin-bottom: 1em;}



ul.homecollBrowse li { display: block; float: left; width: 320px; }
ul.homecollBrowse li.even { clear: both; margin-right: 10px;}

div.portalExplore {
border-top: 2px dotted #988675;
border-bottom: 2px dotted #988675;
padding-top: 10px; padding-bottom: 10px; 
font-weight: bold;
background: #fafafa;

}

span.facetCount { color: #aaa; font-size: 90%;}


ul.facetBrowse {
	list-style-type: none;
	list-style-image: none;
	padding: 0;
	list-style-position: inside;
	padding: 0;	
}

ul.facetBrowse li {
	text-indent: -1em;
	padding-left: 1em;
	margin-left: 0;
}

ul.collBrowse {
	list-style-type: none;
	list-style-image: none;
	padding: 0;
	list-style-position: inside;
	padding: 0;	
}

img.collBrowseImage { margin-right: 8px; float: left; -moz-box-shadow: -2px  2px 7px #aaa; -webkit-box-shadow: -2px 2px 7px #aaa; box-shadow: -2px 2px 7px #aaa; margin-bottom: 10px; }

ul.collBrowse li { margin-left: 0; margin-bottom: 15px;}
ul.collBrowse a {}
div.collection30Thumb { clear: both; margin-bottom: 30px;}
div.collection30Thumb img { height: 20px; width: 20px; vertical-align: middle; margin-right: 5px; }
div.collTitle { margin-bottom: 10px; font-weight: bold; clear: both;}
div.collDescription { clear: both; color: #555; font-size: 90%; margin-bottom: 8px;}

/* facet browse boxes when rendered in sidebar for property & term browse */

.modifiedFacets div.facetSearch form input { width: 100px; }
.modifiedFacets h4 { margin: 15px 0 5px 0;}
.modifiedFacets ul.tabTitles { display: none; }
.modifiedFacets ul.listCol1 { margin: 0; }
.modifiedFacets ul.listCol2 { margin: 0; }
.modifiedFacets ul.listCol3 { margin: 0; }
a.browseProperty { font-weight: bold; color: #777;}


ul.columnar { float: left; margin-right: 15px; width: 30%;}
ul.columnar2 , ul.ajaxcolumnar2 { width: 45%;}
ul.columnar3, ul.ajaxcolumnar3 { width: 30%;}
ul.last { margin-right: 0;}

div.collection30Thumb { float: left;}
div.collDescription { float: left;}


div.abcbrowse {}
div.abcbrowse ul { float: left; list-style: none; padding: 10px 0; margin: 10px 0px 20px 0px; border-bottom: 1px solid #ddd;}
  div.abcbrowse ul li { float: left; padding: 0px; margin: 0; list-style: none;}
     div.abcbrowse ul li a { padding: 6px; border: 1px solid #fff;  }
		div.abcbrowse ul li.current a { color: #fff; background: #293952; border: 1px solid #aaa; text-decoration: none;  border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
		div.abcbrowse ul li a:hover { color: #fff; background: #293952; border: 1px solid #aaa; text-decoration: none;  border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;}

div.facetBrowsePagination {
 border-top: 1px solid #ddd; margin-bottom: 20px;
}

div.facetBrowsePagination ul { 
 list-style: none; margin: 5px;  float: right;
}

div.facetBrowsePagination ul li { 
 float: left;
 font-weight: bold;
 margin: 5px 10px 0 0;
}

div.facetBrowsePagination ul li a {
  padding: 5px;
  border: 1px solid white;
}

div.facetBrowsePagination ul li a:hover {
color: #fff; background: #293952; border: 1px solid #aaa; text-decoration: none;  border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;
} 

div.facetSearch { color: #777;}


li.termGroup { margin-bottom: 5px; }


/* =========================================== */
/*       Collections                           */               
/* =========================================== */
div.browsebysubject ul.relatedCollections li { font-size: 12px;}
div.browseAZ li { display: block; clear: both; margin-top: 30px;}
div.browseAZ div.collDescription { margin-bottom: 20px; }



/* =========================================== */
/*       List Nav jQuery plugin styles         */               
/* =========================================== */

.listNav { margin:0 0 10px; }
.ln-letters {  }
.ln-letters a { font-size:0.9em; padding:2px 6px; border:1px solid silver; border-right:none; text-decoration:none; }
.ln-letters a.ln-last { border-right:1px solid silver; }
.ln-letters a:hover,
.ln-letters a.ln-selected { background-color:#eaeaea; }
.ln-letters a.ln-disabled { color:#ccc; }
.ln-letter-count { text-align:center; font-size:0.8em; line-height:1; margin-bottom:3px; color:#336699; }

ul#placeList{
    list-style-type:none; 
    margin:10px 0 10px;
} 

ul#placeList li{
    padding:2px;
}   

/* =========================================== */
/*             ITEMSET PAGES                   */               
/* =========================================== */

div.itemset-banner {}
	div.itemset-overlay { background: url('../images/misc/transparent-black-67pct.png') repeat scroll left top transparent; color:#bbb; padding: 20px 20px 10px 20px;}
	div.itemset-overlay h1 { color: #fff; }
	div.itemset-overlay a { color: #fff; font-weight: bold; }
		


/* =========================================== */
/*             CONTEXTUAL PAGES                */               
/* =========================================== */

div.featureBox {  width: 180px; float: right; border: 1px solid #bbb; 
	 margin: 0 0 5px 10px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
	}


div.featureBoxTitle {
    background-color: #F2F1EC;
    border-bottom: 1px solid #bbb;
    color: #777;
    font-weight: bold;
    padding: 5px 10px;
    text-align: center;
    vertical-align: middle;
}

div.featureBoxContent { padding: 5px 10px; }

div.featureBox ul { list-style:none; font-size: 11px; margin: 5px 0;}
div.featureBox ul li { margin: 0 0 4px 0;}
div.featureBox p { color: #bbb; font-size: 11px; margin: 9px 0 5px 0; border-bottom: 1px dotted #bbb;}

.imageTopRight { float: right; margin: 0 0 20px 20px; }
.imageTopLeft { float: left; margin: 0 20px 20px 0; }

.horizSubNav { border-top: 1px dotted #ccc; border-bottom: 1px dotted #ccc; padding: 5px 0; margin: 0 0 20px 0;}
.indentLeftMedium { margin-left: 2em;}
.indentLeftLarge { margin-left: 3em;}

tr.shadedRow td { background: #ddd; border-bottom: 1px solid #ccc; }

dl.strongDefList dt { font-weight: bold; }
dl.strongDefList dd { margin: 0 0 9px 9px;}


div.imageIndex { float: left; margin: 10px;}

/* =========================================== */
/*      IMAGE SIZE ENFORCEMENT                 */               
/* =========================================== */

img.wh100max { max-height: 100px; max-width: 100px; }
img.wh125max { max-height: 125px; max-width: 125px; }
img.wh150max { max-height: 150px; max-width: 150px; }

img.w100max { max-width: 100px; }
img.w125max { max-width: 125px; }
img.w150max { max-width: 150px; }

img.h100max { max-height: 100px; }
img.h125max { max-height: 125px; }
img.h150max { max-height: 150px; }


/* =========================================== */
/*                  FOOTERS                    */               
/* =========================================== */

div#disqus_thread { margin-top: 20px; }
div.dsq-item-trackback { display: none !important; }
.dsq-widget-user { font-size: 11px !important; }
.dsq-widget-comment { font-size: 11px !important; }


/* ------------------------------------------- */
/*       Footer for Digital Collections        */
/* ------------------------------------------- */

#dcFooter { background-color: #053482; color: white; font-size: 90%; padding-top: 35px; }


#dcFooter h3 { color: #eee; margin-bottom: 0.8em;}

#dcFooter li { margin: 0 0 10px 0; list-style-type: none; text-indent: -1em; padding-left: 1em; line-height: 1.2em; font-size:11.5px; }

#dcFooter a { color: white; }



div.contributors { padding-right: 5px; border-right: 1px dotted #999; }


	#dcFooter ul.connectOptions { }
	#dcFooter ul.connectOptions li { line-height: 14px; text-indent: 0; }
	#dcFooter ul.connectOptions li a { padding-left: 24px; padding-bottom: 20px; float: left;}
	 li.dcblog a { background: url('../images/dukelibicon.jpg') no-repeat top left; }
	 li.dctwitter a { background: url('//library.duke.edu/imgs/common/icons/twitter_16x16.png') no-repeat top left; }
	 li.dcfacebook a { background: url('//library.duke.edu/imgs/common/icons/facebook_16x16.png') no-repeat top left; }
	 li.dcyoutube a { background: url('//library.duke.edu/imgs/common/icons/youtube_16x16.png') no-repeat top left; }
	 li.dcpinterest a { background: url('../images/icons/pinterest.png') no-repeat top left; }

	 
img.chatIcon { margin-bottom: 10px;}
	 
#dcFooterEnd { height: 15px; background-color: #053482; color: white;}
