.ai2html-boards {
  margin: 0 auto 0;
  padding: 0 0 5px;
}

.ai2html-artboard {
  margin: 8px auto 0;
}

/* By default, text is hidden unless explicitly shown. */
.djai2html-headline, .djai2html-leadin, .djai2html-foot {
  display: none;
}

.nc-exp .bleed .djai2html-headline,
.nc-exp .bleed .djai2html-leadin,
.nc-exp .bleed .djai2html-foot {
  margin-left: 10px;
  margin-right: 10px;
}

.djai2html-marker {
  border-radius: 50%;
  background-color: #000;
  width: 24px !important;
  height: 24px !important;
}

.djai2html-marker p {
  color: #fff !important;
   text-align: center !important;
   line-height: 24px !important;
   font-size: 17px !important;
   margin: 0;
   padding: 0;
}

/* Footer: note, source, tagline */
.djai2html-foot {
  margin: 10px auto 0 auto;
}

.djai2html-foot:after {
  clear: both;
  content: " ";
  height: 0;
  display: block;
}

.djai2html-foot p {
  padding: 0;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: 17px;
  margin: 0 0 5px 0;
  color: #666;
  font-family: "Retina", "Whitney SSm", Helvetica, Arial, sans-serif;
  white-space: pre-wrap;
}
.djai2html-foot p:last-child {
  margin: 0;
}
.djai2html-source {
  float: left;
}
.djai2html-tagline {
  float: right;
}
body.at4units .djai2html-tagline,
.wrap .djai2html-tagline,
.margin .djai2html-tagline {
  float: left;
}

/* Headline and Dek */
.djai2html-headline {
  padding: 0 0 4px;
  margin: 0 0 15px;
  font-family: "Retina", "Whitney SSm", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  color: #333;
  font-weight: 500;
}

.djai2html-leadin {
  padding: 0;
  margin: -15px 0 15px;
  font-family: "Retina", "Whitney SSm", Helvetica, Arial, sans-serif;
  color: #333;
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
}

body.at4units .djai2html-foot,
body.at4units .djai2html-headline,
body.at4units .djai2html-leadin {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}
